<launch>

    <!-- Include the launch file of the drive package-->
    <include file="$(find drive_pkg)/launch/drive.launch" />

    <!-- Launch the python code for the vision -->
    <node name="vision_node" pkg="vision_pkg" type="vision_node.py" respawn="true" output="screen" />

    <!-- Launch the python code for the main program -->
    <node name="main_node" pkg="main_pkg" type="main.py" respawn="true" output="screen" />
    
</launch>